@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  z-index: 5;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
  z-index: 5;
}

html {
  scroll-behavior: smooth;
}

:root {
  --deep-blue: #02030A;
  --white: ghostwhite;
  --light-gray: rgb(170, 170, 170);
}

/************** Body **************/
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: var(--deep-blue);
  color: var(--white);
  font-size: medium;
}
body a {
  color: var(--light-gray);
  transition: all 0.2s ease-in-out;
}

/************** Header **************/
main {
  overflow: hidden;
  /************** Section 1 **************/
  /************** Section 2 **************/
}
main section {
  padding: 20px;
}
main .section-1 {
  height: 100vh;
  -webkit-backdrop-filter: brightness(1);
          backdrop-filter: brightness(1);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url(../img/dec1.png);
  background-size: 100%;
  background-position: center;
}
main .section-1 canvas {
  display: block;
  z-index: 0;
}
main .section-2 {
  min-height: 100vh;
  position: relative;
}
main .section-2 h1 {
  font-size: 3em;
}
main .section-2::before {
  content: "";
  position: absolute;
  top: -350px;
  background-image: linear-gradient(0deg, var(--deep-blue) 0%, rgba(255, 255, 255, 0) 100%);
  height: 350px;
  width: 100%;
}

/************** Footer *************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  border-top: var(--light-gray) 2px dashed;
  position: relative;
}
footer .end-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -33px;
}
footer .end-line #rocket {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: bottom 2s ease-in;
  z-index: 0;
  bottom: 0;
  z-index: 0;
  transition: bottom 0.4s ease-in-out;
}
footer .end-line #rocket img {
  width: 100%;
  height: 100%;
}
footer .end-line a {
  font-size: large;
  width: 65px;
  height: 65px;
  border: var(--white) 2px solid;
  background-color: var(--deep-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-family: "Poppins";
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* .top est maintenant caché par défaut avec opacity et visibility */
  /* .end est visible par défaut */
}
footer .end-line a .end,
footer .end-line a .top {
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  /* Ajouté pour superposer les deux éléments */
}
footer .end-line a .top {
  transform: translateX(-100%);
}
footer .end-line a .end {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
footer .end-line a:hover {
  color: var(--white);
  font-size: larger;
  filter: drop-shadow(rgba(248, 248, 255, 0.3) 0 0 15px);
  /* Cache .end et déplace-le hors du cadre */
  /* Affiche .top et déplace-le dans le cadre */
}
footer .end-line a:hover .end {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
footer .end-line a:hover .top {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  /* Retarde l'apparition de .top */
  transition-delay: 0.4s;
}
footer .end-line a:hover + #rocket {
  bottom: 67px;
  transition: bottom 3s ease-in-out;
}
footer .footer-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px;
}
footer .footer-content h5 {
  font-size: 1.7em;
  margin-bottom: 25px;
}
footer .footer-content a:hover {
  font-size: larger;
  text-decoration: none;
  color: var(--white);
  filter: drop-shadow(var(--light-gray) 0 0 10px);
}
footer .footer-content .social-icons svg {
  width: 42px;
  height: 42px;
  cursor: pointer;
  opacity: 80%;
  transition: all 0.2s ease-in-out;
}
footer .footer-content .social-icons svg:hover {
  opacity: 100%;
  filter: drop-shadow(var(--light-gray) 0 0 10px);
}
footer .footer-content .links {
  display: flex;
  flex-direction: column;
  width: 230px;
}
footer small {
  font-weight: 300;
}

/************** Responsive *************/
@media only screen and (max-width: 450px) {
  main {
    /************** Section 1 **************/
  }
  main .section-1 {
    background-size: 350%;
  }
  footer .footer-content {
    flex-direction: column;
    gap: 35px;
  }
  footer .footer-content h5 {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */